@require '../design/colors'

.member-top-nav-menu
  height 100%
  display table

  &__item
    display table-cell
    text-align center
    width 120px
    cursor pointer
    box-sizing border-box
    color white
    vertical-align middle
    background-color grey-900
    &:last-child
      margin 0
