{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "no-console": "warn",
    "no-undef": "error"
  }
}
