
.layout
  z-index 0
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display flex
  flex-direction column

  &__children
    flex 1 1
    position relative
    contain strict
    z-index 1

  &__bottom
    flex none
    position relative
    z-index 2

  &__top
    flex none
    position relative
    z-index 3

  &__children-contents
    position absolute
    -webkit-overflow-scrolling touch
    overflow auto
    top 0
    right 0
    bottom 0
    left 0
