@require '../design/colors'

.top-nav
  padding 20px 4%
  background-color green-500

  &__logo
    display inline-block

  &__menu
    display inline-block
    text-align right
    width calc(100% - 40px)
