@require '../design/colors'

.member-top-nav-menu
  height 100%

  &__item
    height 100%
    display inline-block
    text-align center
    width 150px
    cursor pointer
    box-sizing border-box
    color white
    &:last-child
      margin 0

  &__divider
    height 100%
    display inline-block
    width 1px
    border-color black
