@require '../design/colors'

.login-form
  width 100%
  padding 8% 0 0
  margin auto

  &__form
    position relative
    z-index 1
    background white
    max-width 360px
    margin 0 auto 100px
    padding 45px
    text-align center
    box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

    input
      font-family "Roboto", sans-serif
      outline 0
      background grey-50
      width 100%
      border 0
      margin 0 0 15px
      padding 15px
      box-sizing border-box
      font-size 14px

    button
      font-family "Roboto", sans-serif
      text-transform uppercase
      outline 0
      background teal-400
      width 100%
      border 0
      padding 15px
      color #FFFFFF
      font-size 14px
      -webkit-transition all 0.3 ease
      transition all 0.3 ease
      cursor pointer

      &hover,
      &active,
      &focus
        background teal-600

  &__message
    margin 15px 0 0
    color grey-200
    font-size 12px

    a
      color green-500
      text-decoration none
