@require '../design/colors'

avatar-width = 45px
avatar-height = 45px
.member-top-nav
  height 45px
  left 0
  top 0
  right 0
  background-color blue-900

  &__container
    display flex
    justify-content space-between

  &__avatar
    max-width avatar-width
    max-height avatar-height
    width avatar-width
    height avatar-height

  &__searchable
    height 44px
    margin-top 4px

  &__searchable input[type='text']
    height 30px
    border 0
    border-radius 5px
    width 230px
    background-color blue-900
    padding 2px
    color white
