@require '../design/colors'

.member-left-menu
  width 100px
  top 45px
  left 0
  bottom 0
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.5)

  &__container
    display flex
    justify-content: space-between
