@require '../design/colors'

avatar-width = 45px
avatar-height = 45px

.member-top-nav
  height 45px
  left 0
  top 0
  right 0
  background-color grey-700

  &__left
    float left
    height 45px
    display flex
    flex-flow row nowrap
    justify-content flex-start
    align-items center

  &__right
    float right
    height 45px
    display flex
    flex-flow row nowrap
    justify-content flex-end
    align-items center

  &__clear
    clear both

  &__avatar
    max-width avatar-width
    max-height avatar-height
    width avatar-width
    height avatar-height
