@require '../design/colors'

.member-top-nav-menu
  height 100%
  display flex

  &__item
    text-align center
    width 150px
    cursor pointer
    box-sizing border-box
    color white
    &:last-child
      margin 0

  &__divider
    border 1px solid black
