@require '../design/colors'

.member-top-nav-menu
  height 45px
  position relative
  &__item
    text-align center
    width 100px
    cursor pointer
    display inline-block
    &:last-child
      margin 0

  &__divider
    display inline-block
    border 1px solid grey-50
