@require '../design/colors'

avatar-width = 45px
avatar-height = 45px
.member-top-nav
  height 45px
  left 0
  top 0
  right 0
  background-color grey-700
  text-align justify
  display flex
  justify-content space-between

  &__left
    align-content flex-start

  &__right
    align-content flex-end

  &__avatar
    max-width avatar-width
    max-height avatar-height
    width avatar-width
    height avatar-height

  &__menu ul
    margin 0
    padding 0
    list-style none

  &__menu ul li
    position relative
    display inline-block
    padding 10px
    text-align center
    width 100px
    background-color transparent
    cursor pointer
    &:last-child
      margin 0
